<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Undelivered Mail</title>
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        /* Tooltip arrow */
        #mostCalledService #tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        #mostCalledService:hover #tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        #searchFromDate {
            width: 25%;
            display: inline;
        }

        #searchToDate {
            width: 25%;
            display: inline;
        }
        td {
            text-align: center;
        }
        #searchBtn {
            width: 6%;
            display: inline;
            align: right;
        }
    </style>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a style="margin-top:3%" class="sidebar-brand d-flex align-items-center justify-content-center" href="index.mustache">
                <div class="sidebar-brand-icon ">
                    <img src="https://bit.ly/3eBzUQt" />
                </div>
            </a>
            <hr class="sidebar-divider">
            <li class="nav-item active">
                <div class="sidebar-brand-icon" style="text-align: center">
                    <a class="nav-link" href="index.mustache">
                        <span style="font-size: 30px">Log Collector</span>
                    </a>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="location.href='index';" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Log History</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="location.href='mail';" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Undelivered Mails</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div style="margin-top:2%;margin-bottom:2%" class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Undelivered Mails</h1>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">조회 조건</h6>
                                </div>
                                <div class="card-body">
                                    <label class="col-sm-4 col-form-label">전송실패 발생 기간</label>
                                    <div class="col-sm-8" style="display: inline; align:right; margin-left: 70px;">
                                        <span class="input-group-addon" style=" margin-left: 5px; padding-left: 5px; margin-right: 2px; border-left-width: 1px; ">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                        <input type="text" class="form-control" name="searchFromDate" value="2021-01-01" id="searchFromDate" readonly/>
                                        <span class="input-group-addon" style=" margin-left: 3px; margin-right: 3px;">~</span>
                                        <input type="text" class="form-control" name="searchToDate" value="2021-01-01" id="searchToDate" readonly/>
                                        <button style=" margin-left: 10px;" class="ladda-button btn btn-primary" data-style="expand-left" id="searchBtn">
                                            <span class="ladda-label">조회</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="mailTable" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th id="metricCol_1" name="metricCol" style="text-align: center;">전송 일시</th>
                                                <th id="metricCol_2" name="metricCol" style="text-align: center;">전송 실패 원인</th>
                                                <th id="metricCol_3" name="metricCol" style="text-align: center;">로그 발생 일시</th>
                                                <th id="metricCol_4" name="metricCol" style="text-align: center;">추적 ID</th>
                                                <th id="metricCol_5" name="metricCol" style="text-align: center;">서비스명</th>
                                                <th id="metricCol_7" name="metricCol" style="text-align: center;">로그 내용</th>
                                            </tr>
                                            </thead>
                                            <tbody id="mailBody">
                                            <tr>
                                                <td>2021-12-15 03:06:57</td>
                                                <td>MailAuthentication</td>
                                                <td>2021-12-14 02:14:21.264</td>
                                                <td>t1</td>
                                                <td>service_x</td>
                                                <td>service_x starts</td>
                                            </tr>
                                            <tr>
                                                <td>2021-12-15 04:14:25</td>
                                                <td>MailAuthentication</td>
                                                <td>2021-12-14 02:14:22.264</td>
                                                <td>t1</td>
                                                <td>service_x</td>
                                                <td>service_x ends</td>
                                            </tr>
                                            <tr>
                                                <td>2021-12-15 08:16:10</td>
                                                <td>MailAuthentication</td>
                                                <td>2021-12-14 02:14:22.264</td>
                                                <td>t3</td>
                                                <td>service_z</td>
                                                <td>"+12345</td>
                                            </tr>
                                            <tr>
                                                <td>2021-12-15 08:21:45</td>
                                                <td>MailAuthentication</td>
                                                <td>2021-12-14 02:14:26.264</td>
                                                <td>t3</td>
                                                <td>service_z</td>
                                                <td>"-12345</td>
                                            </tr>
                                            <tr>
                                                <td>2021-12-15 09:13:50</td>
                                                <td>MailAuthentication</td>
                                                <td>2021-12-14 02:14:30.264</td>
                                                <td>t3</td>
                                                <td>service_y</td>
                                                <td>"-12345</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="6" style="text-align: right">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                        </ul>
                                                </td>
                                            </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Log Collector 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/bootstrap/js/sb-admin-2.min.js"></script>
    <script src="/bootstrap/vendor/chart.js/Chart.min.js"></script>
    <script src="/bootstrap/js/dev/mail-table.js"></script>
</body>
</html>